## Import libraries

In [16]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta

## Data location

In [17]:
data_loc = "S://Docs//Personal//MAEVE//Data//"

## Pull data

In [18]:
path = data_loc + "BTC_price_1h.csv"
df = pd.read_csv(path)

print(f"Data shape: {df.shape}")

print(f"Date range: {df.Datetime.min()} - {df.Datetime.max()}")

Data shape: (17017, 7)
Date range: 2021-02-01 00:00:00+00:00 - 2023-01-20 13:00:00+00:00

## Custom functions

In [19]:
def calc_MA(df, timeperiod):
    df[f'MA{timeperiod}'] = df['Close'].rolling(window=timeperiod).mean()
    return df

## Calculate moving averages

In [20]:
# Calculate MA
MALst = [12, 20, 24, 30, 40, 48, 50, 60, 100, 200]

for MA in MALst:
    df = calc_MA(df, MA)

df.shape

(17017, 17)

In [21]:
# Initialize the strategy variables
current_position = None  # "buy" or "sell"
cash = 100  # Starting cash
shares = 0  # Starting shares

# Iterate over the rows of the dataframe
for index, row in df.iterrows():
    # Calculate the MA20 and MA40
    MA20 = row['MA20']
    MA40 = row['MA40']

    # Check if the MA20 is higher than the MA40
    if MA20 > MA40:
        # If we're not currently holding any shares, buy shares
        if current_position != "buy":
            shares = cash / row['Close']
            cash = 0
            current_position = "buy"
    # Check if the MA20 is lower than the MA40
    elif MA20 < MA40:
        # If we're currently holding shares, sell them
        if current_position == "buy":
            cash = shares * row['Close']
            shares = 0
            current_position = "sell"

# Print the final cash and shares value
print("Final cash value:", cash)
print("Final shares value:", shares)

,Datetime,Open,High,Low,Close,Adj Close,Volume,MA12,MA20,MA24,MA30,MA40,MA48,MA50,MA60,MA100,MA200
0,2021-02-01 00:00:00+00:00,33114.578125,33114.578125,32384.228516,32551.958984,32551.958984,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01 01:00:00+00:00,32556.548828,33470.128906,32556.548828,33450.535156,33450.535156,1724944384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-01 02:00:00+00:00,33448.257812,33769.785156,33331.187500,33655.015625,33655.015625,458350592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-01 03:00:00+00:00,33654.921875,33712.281250,33531.136719,33562.886719,33562.886719,782512128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-01 04:00:00+00:00,33567.050781,33815.316406,33484.789062,33563.953125,33563.953125,1084145664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-02-01 05:00:00+00:00,33562.117188,33778.808594,33492.042969,33766.605469,33766.605469,640532480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-02-01 06:00:00+00:00,33772.078125,34185.832031,33391.039062,33456.828125,33456.828125,1342312448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-02-01 07:00:00+00:00,33536.406250,33804.683594,33458.613281,33749.070312,33749.070312,1124499456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-02-01 08:00:00+00:00,33740.582031,34253.121094,33656.781250,34249.644531,34249.644531,1669554176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2021-02-01 09:00:00+00:00,34277.062500,34638.214844,34277.062500,34341.160156,34341.160156,2075963392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2021-02-01 10:00:00+00:00,34343.277344,34420.539062,34093.546875,34128.500000,34128.500000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-02-01 11:00:00+00:00,34129.203125,34341.027344,33999.910156,34312.136719,34312.136719,1516904448,33732.357910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2021-02-01 12:00:00+00:00,34304.175781,34304.175781,33729.933594,33768.125000,33768.125000,565870592,33833.705078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-02-01 13:00:00+00:00,33761.562500,33910.468750,33710.789062,33716.105469,33716.105469,1167732736,33855.835938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2021-02-01 14:00:00+00:00,33707.226562,33811.015625,33443.523438,33536.882812,33536.882812,994594816,33845.991536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-02-01 15:00:00+00:00,33538.039062,33566.183594,33245.207031,33245.207031,33245.207031,0,33819.518229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2021-02-01 16:00:00+00:00,33240.816406,33492.351562,33167.351562,33487.117188,33487.117188,0,33813.115234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2021-02-01 17:00:00+00:00,33411.171875,33926.359375,33393.300781,33919.199219,33919.199219,32567296,33825.831380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2021-02-01 18:00:00+00:00,33939.750000,33939.750000,33680.488281,33692.605469,33692.605469,0,33845.479492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-02-01 19:00:00+00:00,33695.230469,33958.433594,33695.230469,33839.539062,33839.539062,0,33853.018555,33699.653809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2021-02-01 20:00:00+00:00,33811.101562,33956.914062,33759.523438,33787.914062,33787.914062,0,33814.541016,33761.451562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2021-02-01 21:00:00+00:00,33766.746094,33791.109375,33586.527344,33658.902344,33658.902344,0,33757.686198,33771.869922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2021-02-01 22:00:00+00:00,33595.289062,33723.992188,33555.531250,33558.933594,33558.933594,318214144,33710.222331,33767.065820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2021-02-01 23:00:00+00:00,33511.937500,33706.347656,33446.316406,33543.859375,33543.859375,89440256,33646.199219,33766.114453,33689.278564,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2021-02-02 00:00:00+00:00,33533.199219,34061.132812,33489.218750,33743.976562,33743.976562,593305600,33644.186849,33775.115625,33738.945964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2021-02-02 01:00:00+00:00,33747.480469,33747.480469,33557.839844,33643.273438,33643.273438,0,33638.117513,33768.949023,33746.976725,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2021-02-02 02:00:00+00:00,33634.273438,33762.804688,33629.476562,33639.289062,33639.289062,0,33646.651367,33778.072070,33746.321452,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2021-02-02 03:00:00+00:00,33635.984375,33672.062500,33551.777344,33561.984375,33561.984375,0,33673.049479,33768.717773,33746.283854,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2021-02-02 04:00:00+00:00,33558.523438,33924.957031,33549.851562,33884.152344,33884.152344,103378944,33706.135742,33750.443164,33759.625488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2021-02-02 05:00:00+00:00,33885.539062,34067.421875,33821.437500,34043.082031,34043.082031,161009664,33716.459310,33735.539258,33771.145345,33701.948112,NaN,NaN,NaN,NaN,NaN,NaN
30,2021-02-02 06:00:00+00:00,34027.492188,34285.363281,33967.574219,34277.785156,34277.785156,0,33765.224284,33743.003516,33805.351888,33759.475651,NaN,NaN,NaN,NaN,NaN,NaN
31,2021-02-02 07:00:00+00:00,34277.656250,34340.660156,34160.894531,34299.281250,34299.281250,581959680,33803.536133,33742.360742,33828.277344,33787.767188,NaN,NaN,NaN,NaN,NaN,NaN
32,2021-02-02 08:00:00+00:00,34289.800781,34502.710938,34157.308594,34502.710938,34502.710938,426991616,33863.102539,33779.090039,33838.821777,33816.023698,NaN,NaN,NaN,NaN,NaN,NaN
33,2021-02-02 09:00:00+00:00,34517.898438,35442.855469,34517.898438,35292.507812,35292.507812,2537115648,33999.236328,33857.910156,33878.461263,33873.677734,NaN,NaN,NaN,NaN,NaN,NaN
34,2021-02-02 10:00:00+00:00,35295.054688,35349.828125,35075.863281,35088.367188,35088.367188,0,34126.689128,33935.484375,33918.455729,33924.491536,NaN,NaN,NaN,NaN,NaN,NaN
35,2021-02-02 11:00:00+00:00,35085.937500,35220.308594,34738.871094,34738.871094,34738.871094,0,34226.273438,34010.167578,33936.236328,33956.900391,NaN,NaN,NaN,NaN,NaN,NaN
36,2021-02-02 12:00:00+00:00,34743.593750,34953.093750,34681.273438,34791.554688,34791.554688,0,34313.571615,34075.389453,33978.879232,34001.391276,NaN,NaN,NaN,NaN,NaN,NaN
37,2021-02-02 13:00:00+00:00,34794.644531,35131.847656,34789.753906,34848.238281,34848.238281,0,34413.985352,34121.841406,34026.051432,34038.030208,NaN,NaN,NaN,NaN,NaN,NaN
38,2021-02-02 14:00:00+00:00,34851.484375,34873.937500,34571.566406,34808.066406,34808.066406,0,34511.383464,34177.614453,34079.017415,34056.644271,NaN,NaN,NaN,NaN,NaN,NaN
39,2021-02-02 15:00:00+00:00,34809.707031,35082.679688,34650.445312,34678.085938,34678.085938,0,34604.391927,34219.541797,34138.720703,34067.875130,33959.597803,NaN,NaN,NaN,NaN,NaN
40,2021-02-02 16:00:00+00:00,34681.457031,35064.121094,34644.800781,34974.218750,34974.218750,0,34695.230794,34278.857031,34200.683268,34096.065755,34020.154297,NaN,NaN,NaN,NaN,NaN
41,2021-02-02 17:00:00+00:00,34964.023438,34964.023438,34785.218750,34829.679688,34829.679688,0,34760.780599,34337.395898,34238.619954,34113.317187,34054.632910,NaN,NaN,NaN,NaN,NaN
42,2021-02-02 18:00:00+00:00,34868.339844,35259.488281,34827.042969,35259.488281,35259.488281,579842048,34842.589193,34422.423633,34303.906738,34163.029297,34094.744727,NaN,NaN,NaN,NaN,NaN
43,2021-02-02 19:00:00+00:00,35247.074219,35703.765625,35232.082031,35703.765625,35703.765625,1459404800,34959.629557,34530.418945,34381.582845,34229.284635,34148.266699,NaN,NaN,NaN,NaN,NaN
44,2021-02-02 20:00:00+00:00,35756.781250,35878.835938,35569.078125,35700.503906,35700.503906,1547812864,35059.445638,34628.245313,34461.274089,34301.405339,34201.680469,NaN,NaN,NaN,NaN,NaN
45,2021-02-02 21:00:00+00:00,35759.265625,35800.695312,35603.988281,35701.816406,35701.816406,756105216,35093.554688,34731.172461,34546.395508,34383.292318,34250.060742,NaN,NaN,NaN,NaN,NaN
46,2021-02-02 22:00:00+00:00,35638.613281,35753.265625,35579.859375,35669.875000,35669.875000,28913664,35142.013672,34832.701758,34634.351400,34456.050911,34305.386914,NaN,NaN,NaN,NaN,NaN
47,2021-02-02 23:00:00+00:00,35579.242188,35661.867188,35508.765625,35524.121094,35524.121094,0,35207.451172,34930.808594,34716.862305,34509.548307,34349.763184,34203.070435,NaN,NaN,NaN,NaN
48,2021-02-03 00:00:00+00:00,35510.820312,36141.746094,35443.984375,36119.488281,36119.488281,0,35318.112305,35042.575391,34815.841960,34590.444401,34396.509277,34277.393962,NaN,NaN,NaN,NaN
49,2021-02-03 01:00:00+00:00,36120.445312,36258.199219,35856.292969,35856.316406,35856.316406,1177972736,35402.118815,35133.237109,34908.052083,34657.670312,34434.388184,34327.514404,34274.463711,NaN,NaN,NaN